<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="DisplayScreenIndex" value="1" />
	</appSettings>
	<!--<Unity>
		<typeAlias>
			
		</typeAlias>
		<container name="DependencyContainer">
			
		</container>
	</Unity>-->
</configuration>