<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArcadeGames.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="DisplayScreenIndex" value="1" />
	</appSettings>
	<!--<Unity>
		<typeAlias>
			
		</typeAlias>
		<container name="DependencyContainer">
			
		</container>
	</Unity>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.7.0" newVersion="5.11.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.11.0" newVersion="5.11.11.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <ArcadeGames.Properties.Settings>
      <setting name="Loggers" serializeAs="Xml">
		<!--Log Levels of each instance
		ALL = 0,
		DEBUG = 1,
		INFO = 2,
		WARN = 3,
		ERROR = 4,
		FATAL = 5,
		OFF = 7-->
        <value>
			<LoggerInstanceCollection xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
									  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
				<LogLocation>./logs</LogLocation> <!--location of the log folder, if starts with ./ the path start from the location of the .exe file-->
				<GroupByDay>true</GroupByDay> <!--if true, create a sub-folder for each day-->
				<PurgingDay>0</PurgingDay> <!--Delete logs older than, 0 logs are not purged-->
				<SystemLog_InstaceName>ArcadeMania_main_log</SystemLog_InstaceName> <!--Name of the log used instance as main system log-->
				<LoggerInstances>
					<LoggerInstance>
						<LogLevel>1</LogLevel>								<!--Level of logging--> 
						<InstanceName>ArcadeMania_main_log</InstanceName>   <!--Name of the instance of the log (DO NOT MODIFY)-->
						<LogName>ArcadeMania_LOG</LogName>					<!--Name of the log file-->
					</LoggerInstance>
					<LoggerInstance>
						<LogLevel>1</LogLevel>
						<InstanceName>_brokerHost_log</InstanceName>
						<LogName>brokerHost_LOG</LogName>
					</LoggerInstance>
					<LoggerInstance>
						<LogLevel>1</LogLevel>
						<InstanceName>_brokerClient_log</InstanceName>
						<LogName>brokerClient_LOG</LogName>
					</LoggerInstance>
				</LoggerInstances>
			</LoggerInstanceCollection>
		  </value>
      </setting>
    </ArcadeGames.Properties.Settings>
  </userSettings>
</configuration>